bin/
darknet/
etc/
lib/
lib64
pyvenv.cfg
share/

**/build/*
**/.ipynb_checkpoints/*
**/__pycache__/*
**/*.egg-info/*
**/.venv/*
**/venv/*
**/.pytest_cache/*
**/dist/*

Untitled*.ipynb
Scratch*.ipynb

.env-*

.tox/

_pydarknet2/
