cached_property
click
jupyter
notebook
nbconvert

# Image Processing.
Pillow
imageio
scikit-image

# Maths
numpy

# TODO: Remove, these are really just for development.
autopep8
black
isort
pycodestyle
pydocstyle

pytest

##
# Host Environment Requirements
##
#16.04 18.04: git
#16.04 18.04: python3
#16.04 18.04: python3-venv
#16.04 18.04: python3-dev
